[View in Colaboratory](https://colab.research.google.com/github/McKenzyPG/mlcourse_open/blob/master/MLOpen_new_lesson1.ipynb)

In [1]:
from google.colab import files

athletes = files.upload()

Saving athlete_events.csv to athlete_events.csv

In [0]:
import pandas as pd

In [53]:
data = pd.read_csv('athlete_events.csv')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [0]:
import numpy as np
data['Sex'] = np.where(data['Sex']=='M', '1', '0')

1. How old were the youngest male and female participants of the 1996 Olympics?
16 and 15
14 and 12
16 and 12
13 and 11

> Indented block

In [0]:
data['Sex'] =  data['Sex'].apply(lambda x:float(x))

In [0]:
data['Age'] = data['Age'].apply(lambda x:float(x))

In [60]:
data.describe()

,ID,Sex,Age,Height,Weight,Year
count,271116.000000,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,0.725129,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,0.446450,6.393561,10.518462,14.348020,29.877632
min,1.000000,0.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,0.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,1.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,1.000000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,1.000000,97.000000,226.000000,214.000000,2016.000000

In [0]:
df1 = data[(data['Games'] == '1996 Summer') & (data['Sex'] == 1.0)]

In [70]:
df1.Age.min()

14.0

In [0]:
df2 = data[(data['Games'] == '1996 Summer') & (data['Sex'] == 0.0)]

In [72]:
df2.Age.min()

12.0

2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

In [0]:
df3 = data[(data['Games'] == '2000 Summer') & (data['Sex'] == 1.0)]

In [74]:
df3.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sex_new
31,12,Jyri Tapani Aalto,1.0,31.0,172.0,70.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Badminton,Badminton Men's Singles,NaN,1
57,18,Timo Antero Aaltonen,1.0,31.0,189.0,130.0,Finland,FIN,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Men's Shot Put,NaN,1
81,23,Fritz Aanes,1.0,22.0,187.0,89.0,Norway,NOR,2000 Summer,2000,Summer,Sydney,Wrestling,"Wrestling Men's Light-Heavyweight, Greco-Roman",NaN,1
93,30,Pepijn Aardewijn,1.0,30.0,189.0,72.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN,1
103,36,Stefan Remco Aartsen,1.0,25.0,194.0,78.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Butterfly,NaN,1

In [75]:
df3.Sport.value_counts()

Athletics            1437
Swimming              988
Gymnastics            642
Cycling               453
Shooting              374
Rowing                367
Canoeing              345
Wrestling             314
Sailing               307
Boxing                307
Football              267
Judo                  237
Fencing               215
Equestrianism         195
Baseball              192
Hockey                191
Handball              177
Weightlifting         161
Water Polo            153
Basketball            144
Volleyball            141
Table Tennis          136
Diving                123
Tennis                122
Badminton             106
Archery               106
Taekwondo              54
Triathlon              52
Beach Volleyball       48
Modern Pentathlon      24
Trampolining           12
Name: Sport, dtype: int64

In [0]:
count_all= df3.Sport.value_counts().sum()

In [0]:
answer = 642 / count_all

In [82]:
answer

0.07651966626936829

3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.

In [0]:
df4 = data[(data['Games'] == '2000 Summer') & (data['Sex'] == 0.0) & (data['Sport'] == 'Basketball')]

In [84]:
df4['Height'].mean()

182.38732394366198

In [85]:
df4['Height'].std()

9.139462087892174

4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [0]:
df5 = data[(data['Games'] == '2002 Winter')]

In [92]:
df5['Weight'].max()

123.0

In [0]:
df6 = data[(data['Games'] == '2002 Winter') & (data['Weight'] == 123.0)]

In [95]:
df6

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sex_new
99154,50171,Emmanuel Hostache,1.0,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN,1

5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [0]:
df7 = data[(data['Name'] == 'Pawe Abratkiewicz')]

In [99]:
df7.Year.nunique()

3

6. How many silver medals in tennis did Australia win at the 2000 Olympics?

In [0]:
df8 = data[(data['Team'] == 'Australia') & (data['Year'] == 2000) & (data['Sport'] == 'Tennis') & (data['Medal'] == 'Silver')].count()

In [113]:
df8

ID         2
Name       2
Sex        2
Age        2
Height     2
Weight     2
Team       2
NOC        2
Games      2
Year       2
Season     2
City       2
Sport      2
Event      2
Medal      2
Sex_new    2
dtype: int64

7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in Medal column.

In [0]:
df9 = data[(data['Team'] == 'Serbia') & (data['Year'] == 2016) & (data['Medal'] == 'Silver') & (data['Medal'] == 'Bronze') & (data['Medal'] == 'Gold')].count()

In [115]:
df9

ID         0
Name       0
Sex        0
Age        0
Height     0
Weight     0
Team       0
NOC        0
Games      0
Year       0
Season     0
City       0
Sport      0
Event      0
Medal      0
Sex_new    0
dtype: int64

In [0]:
df9 = data[(data['Team'] == 'Switzerland') & (data['Games'] == '2016 Summer') & ((data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze') | (data['Medal'] == 'Gold'))]

In [135]:
df9

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Sex_new
12203,6632,Timea Bacsinszky,0.0,27.0,170.0,62.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Doubles,Silver,0
34650,17857,Fabian Cancellara,1.0,35.0,186.0,81.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,Cycling Men's Individual Time Trial,Gold,1
55506,28466,Heidi Diethelm Gerber,0.0,47.0,168.0,93.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,"Shooting Women's Sporting Pistol, 25 metres",Bronze,0
87541,44384,Mario-Elio Gyr,1.0,31.0,187.0,76.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,Gold,1
96184,48700,Martina Hingis (-Hutin),0.0,35.0,170.0,59.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Doubles,Silver,0
171349,86104,Simon Niepmann,1.0,31.0,180.0,71.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,Gold,1
214624,107750,Simon Schrch,1.0,25.0,186.0,75.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,Gold,1
214640,107758,Nino Schurter,1.0,30.0,173.0,68.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,"Cycling Men's Mountainbike, Cross-Country",Gold,1
226623,113893,Nicola Spirig Hug,0.0,34.0,166.0,54.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Triathlon,Triathlon Women's Olympic Distance,Silver,0
228654,114826,Giulia Steingruber,0.0,22.0,160.0,56.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Horse Vault,Bronze,0
242890,121635,Lucas Tramr,1.0,26.0,183.0,75.0,Switzerland,SUI,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,Gold,1

In [136]:
df9.count()

ID         11
Name       11
Sex        11
Age        11
Height     11
Weight     11
Team       11
NOC        11
Games      11
Year       11
Season     11
City       11
Sport      11
Event      11
Medal      11
Sex_new    11
dtype: int64

In [0]:
df10 = data[(data['Team'] == 'Serbia') & (data['Games'] == '2016 Summer') & ((data['Medal'] == 'Silver') | (data['Medal'] == 'Bronze') | (data['Medal'] == 'Gold'))]

In [133]:
df10.count()

ID         54
Name       54
Sex        54
Age        54
Height     54
Weight     54
Team       54
NOC        54
Games      54
Year       54
Season     54
City       54
Sport      54
Event      54
Medal      54
Sex_new    54
dtype: int64

In [130]:
df10

ID         54
Name       54
Sex        54
Age        54
Height     54
Weight     54
Team       54
NOC        54
Games      54
Year       54
Season     54
City       54
Sport      54
Event      54
Medal      54
Sex_new    54
dtype: int64

8. What age category did the fewest and the most participants of the 2014 Olympics belong to?